<mat-card-subtitle> Wähle deinen Studiengang </mat-card-subtitle>
<div class="flex-col">
  <mat-form-field appearance="fill">
    <mat-label>Studiengang</mat-label>
    <mat-select (selectionChange)="selectedDegree = $event.value" [value]="this.selectedDegree" required>
      <mat-option *ngFor="let degree of getDegrees()" [value]="degree">
        {{ degree }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div *ngIf="selectedDegree != ''">
    <div *ngFor="let i of range(1, getDegreeSubjectCount(selectedDegree))">
      <mat-form-field appearance="fill">
        <!-- Titel -->
        <mat-label>
          <div *ngIf="getDegreeSubjectCount(selectedDegree) > 1">
            Fach {{ i }}
          </div>
          <div *ngIf="getDegreeSubjectCount(selectedDegree) <= 1">
            Hauptfach
          </div>
        </mat-label>
        <!-- Optionen -->
        <mat-select (selectionChange)="selectedSubjects[i - 1] = $event.value">
          <mat-option
            *ngFor="let subject of getSubjects(selectedDegree)"
            [value]="subject"
          >
            {{ subject }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
<div *ngIf="duplicatedSubject()">
  Die einzelnen Fächer müssen sich unterscheiden
</div>

<mat-divider></mat-divider>
<!--dnd-area = drag and drop area-->
<div id="dnd-area">
  <mat-card-subtitle style="margin-top: 0.5rem">Daten importieren</mat-card-subtitle>
  <div>
    Wähle die Datei aus, die du beim Export heruntergeladen hast und klicke auf den "Importieren"-Button oder nutze Drag and Drop, um die Datei zu laden.
  </div>
  <div style="display: flex">
    <button mat-raised-button color="primary" (click)="uploadButton()" style="margin:0.5rem">Importieren</button>
    <input id="fileInput" type="file" accept="application/json" style="margin: 0.5rem"/>
  </div>
  <div id="uploadInfo"></div>
</div>
