<div>
  <h3>Angular FormArray Example</h3>
  <form [formGroup]="form" (ngSubmit)="onFormSubmit()">
    <div formArrayName="stex">
      <div *ngFor="let name of stex.controls; index as idx">
        <input [formControlName]="idx" placeholder="Enter a Name" />
        <label *ngIf="name.invalid"> Name is required. </label>
        <button (click)="deleteForm(idx)" class="btn btn-danger">Delete</button>
      </div>
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Send</button>
    </div>
  </form>
  <button type="button" (click)="addStexElement()">Add More Names</button>
</div>
