<!-- select grade -->
<mat-form-field class="module-grade-select" *ngIf="module.weight != 0">
  <mat-label>Note</mat-label>
  <mat-select
    (selectionChange)="module.grade = $event.value ? $event.value : ''"
  >
    <mat-option></mat-option>
    <mat-option *ngFor="let grade of grades" [value]="grade">
      {{ grade }}
    </mat-option>
  </mat-select>
</mat-form-field>
<!-- bestanden ? -->
<div *ngIf="module.weight == 0">
  <mat-checkbox (change)="module.grade = $event.checked ? 'bestanden' : ''"
    >bestanden</mat-checkbox
  >
</div>
