<mat-accordion multi="true">
  <ng-container *ngFor="let subject of getAllSubjects()">
    <app-subject-expension-panel
      [subject]="subject"
      [ects]="getTotalECTS(subject)"
    >
    </app-subject-expension-panel>
  </ng-container>
</mat-accordion>
<div class="action-wrapper">
  <button mat-raised-button color="primary" (click)="handleDoneEvent()">
    Eingabe Abschließen
  </button>

  <!--export data button-->
  <button mat-raised-button color="primary" (click)="downloadData()">
    Eingaben exportieren
  </button>
</div>
