table {
  width: 100%;
  //   margin-top: 1rem;
  //   margin-bottom: 1rem;
  box-shadow: none;
}

.mat-expansion-panel {
  margin-bottom: 1rem;
}

.mat-radio-button {
  margin-right: 1rem;
}

.radio-group {
  display: flex;
}