<form [formGroup]="form" (ngSubmit)="onFormSubmit()">
  <div formArrayName="module">
    <div *ngFor="let module_group of module.controls; index as idx">
      <!-- Stex Prüfung -->
      <div [formGroupName]="idx" class="row">
        <mat-form-field appearance="outline">
          <mat-label>Prüfungsname</mat-label>
          <input matInput type="text" formControlName="name" />
          <mat-hint *ngIf="module_group.invalid" class="invalid"
            >Invalid input.</mat-hint
          >
        </mat-form-field>

        <mat-form-field appearance="outline" class="number-input">
          <mat-label>Gewicht</mat-label>
          <input matInput type="text" formControlName="weight" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="number-input">
          <mat-label>ECTS</mat-label>
          <input matInput type="text" formControlName="ects" />
          <mat-hint
            >Komma durch einen Punkt ersetzen z.B.: 10 oder 17.5</mat-hint
          >
        </mat-form-field>

        <mat-radio-group aria-label="Select an option" formControlName="ba">
          <mat-radio-button value="pflicht">pflicht</mat-radio-button>
          <mat-radio-button value="tauglich">tauglich</mat-radio-button>
          <mat-radio-button value="nein">nicht tauglich</mat-radio-button>
        </mat-radio-group>

        <button mat-icon-button (click)="deleteForm(idx)" class="bot-margin">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <!-- Stex Prüfung Ende -->
    </div>
  </div>
</form>
<button
  mat-icon-button
  type="button"
  color="primary"
  (click)="addModuleElement()"
>
  <mat-icon>add</mat-icon>
</button>
