<!-- <mat-stepper> -->
<mat-card>
  <mat-card-title>Trage deine Noten ein</mat-card-title>
  <mat-stepper linear>
    <!-- Step 1 -->
    <mat-step [completed]="step1.completed()" [editable]="true">
      <ng-template matStepLabel>Studiengang</ng-template>
      <app-studiengang #step1></app-studiengang>
      <div class="actions">
        <!-- prettier-ignore -->
        <button mat-raised-button color="primary" matStepperNext [disabled]="!step1.completed()" >Next</button>
      </div>
    </mat-step>
  </mat-stepper>
</mat-card>
