<mat-card>
  <div class="flex-col width-40 algin-right space-around">
    <mat-slide-toggle [(ngModel)]="showPassed"
      >Bestandene Module anzeigen
    </mat-slide-toggle>
    <mat-slide-toggle [(ngModel)]="stexMode">
      {{ stexMode ? "Staatsexamensmodus" : "Bachleor Modus" }}
    </mat-slide-toggle>
  </div>

  <mat-accordion multi="true">
    <ng-container>
      <app-stex-expanel [degree]="degree"> </app-stex-expanel>
    </ng-container>
    <ng-container *ngFor="let subject of getAllSubjects(this.degree)">
      <app-subject-expansion-panel
        [subject]="subject"
        [inputSubject]="inputedSubjects[subject.name]"
        [showPassed]="showPassed"
        [stexMode]="stexMode"
        [ects]="getTotalECTS(subject)"
      >
      </app-subject-expansion-panel>
    </ng-container>
  </mat-accordion>
  <!-- <button mat-button (click)="log()">log</button> -->
</mat-card>
