.mat-card {
  width: 40rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.width-40 {
  width: 40%;
}

.algin-right {
  margin-left: auto;
}

.space-around {
  justify-content: space-around;
}
