<mat-card-subtitle>
  Trage deine Leistungen aus der {{ subjectName }} ein. Trage hier noch nicht
  spekulative Noten ein, sondern nur bereits abgeschlossene Prüfungen:
</mat-card-subtitle>

<mat-list>
  <div *ngFor="let module of getSubjectConfig()?.modules; let i = index">
    <mat-list-item class="item">
      <div class="grid-row-3">
        <!-- Module Name -->
        <div class="module-name">
          {{ module.name }}
        </div>

        <!-- select grade -->
        <app-grade-picker
          [module]="module"
          class="module-grade"
        ></app-grade-picker>

        <!-- ECTS -->
        <div class="module-ects">{{ module.ects }} ECTS</div>
      </div>
    </mat-list-item>
    <!--  -->
    <!--  -->
    <mat-divider *ngIf="i % 4 == 3"></mat-divider>
  </div>
</mat-list>
<!-- WPF -->
<div class="wpf" *ngIf="getSubjectConfig()?.wpf != 0">
  <mat-card-subtitle>
    Trage deine Wahlpflicht-Leistungen ein:
  </mat-card-subtitle>
  <mat-list>
    <div *ngFor="let module of wpfs; let i = index">
      <mat-list-item class="wpf-item">
        <div class="grid-row-3">
          <mat-form-field class="module-name">
            <mat-label>Modulename</mat-label>
            <input matInput [(ngModel)]="module.name" />
          </mat-form-field>

          <!-- select grade -->
          <app-grade-picker
            [module]="module"
            class="module-grade"
          ></app-grade-picker>

          <!-- ECTS Picker  -->
          <app-ects-picker
            [module]="module"
            class="module-ects"
          ></app-ects-picker>
        </div>
        <button mat-icon-button (click)="deleteWPF(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
      <!--  -->
      <!--  -->
      <mat-divider *ngIf="i % 4 == 3"></mat-divider>
    </div>
  </mat-list>
  <button mat-icon-button color="primary" (click)="addWPF()">
    <mat-icon>add</mat-icon>
  </button>
</div>

<div *ngIf="getSubjectConfig()?.didaktik?.length != 0">
  <mat-card-subtitle>
    Trage deine Leistungen der Didaktik der {{ subjectName }}</mat-card-subtitle
  >
  <mat-list>
    <div *ngFor="let module of getSubjectConfig()?.didaktik; let i = index">
      <mat-list-item class="item">
        <div class="grid-row-3">
          <!-- Module Name -->
          <div class="module-name">
            {{ module.name }}
          </div>
          <!-- select grade -->
          <app-grade-picker
            [module]="module"
            class="module-grade"
          ></app-grade-picker>
          <!-- ECTS -->
          <div class="module-ects">{{ module.ects }} ECTS</div>
        </div>
      </mat-list-item>
    </div>
  </mat-list>
</div>
