.mat-table {
  width: 100%;
  box-shadow: none;
}

.description {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.openModule {
  font-weight: 500;
}

.passedModule {
  color:rgba(0, 0, 0, 0.54);
  // TODO:
  // color: theming.get-color-from-palette($foreground, secondary-text);
}
